@import 'normalize.css';

html {
  background-color: #f5f5f5;
}

body {
  width: 940px;
  height: auto;
  margin: 0px auto;
  padding: 18px 32px;
  background-color: #ffffff;
  @media (max-width: 430px) {
    width: 92vw;
    margin: 0px;
    padding: 8px 4vw;
  }
}

input {
  width: 97%;
  height: 20px;
  margin-bottom: 36px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 9px 12px;
}

input::placeholder {
  font-size: 16px;
  opacity: 0.25;
}

.buttonSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  margin: 15px auto;
}

.inactive {
  width: 64px;
  height: 54px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;
}

.active {
  width: 64px;
  height: 54px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}

h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  @media (max-width: 430px) {
    height: 28px;
  }
}

.dataRelease {
  font-size: 12px;
  height: 12px;
}

.cardListFilms {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  gap: 36px;
  @media (max-width: 430px) {
    grid-template-columns: 1fr;
  }
}

.cardFilms {
  display: flex;
  box-shadow: 5px 5px 10px 0 #00000026;
  @media (max-width: 430px) {
    min-height: 245px;
  }
}

.descriptionCard {
  display: grid;
  padding: 0 10px;
  column-gap: 10px;
  min-width: 250px;
}

.genresFilm {
  display: flex;
  column-gap: 8px;
}

.genre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 12px;
  color: #000000a6;
  padding: 1px 5px;
}

.logoFilm {
  width: 183px;
  min-width: 183px;
  height: 281px;
  object-fit: cover;
  @media (max-width: 430px) {
    width: 60px;
    min-width: 60px;
    height: 91px;
    object-fit: cover;
  }
}

.filmOverview {
  @media (max-width: 430px) {
    margin-left: -55px;
  }
}

.spin {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.notification {
  font-size: 25px;
  text-align: center;
}

.Pagination {
  margin-top: 12px;
}

.rate {
  margin: 0 auto;
}

.circleRated {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid;
  display: grid;
  place-items: center;
}

.red {
  border-color: #e90000;
}
.orange {
  border-color: #e97e00;
}
.yellow {
  border-color: #e9d100;
}
.green {
  border-color: #66e900;
}
